/labs/1/1/node_modules/
/labs/1/3/node_modules/
.idea
/labs/1/2/node_modules/
/labs/2/1/node_modules/
/labs/2/2/node_modules/
/labs/4/1/node_modules/
/labs/3/1/node_modules/
/labs/3/2/node_modules/
/labs/4/3/node_modules/
/labs/5/1/node_modules/
/labs/4/2/node_modules/
